@charset "UTF-8";

/*Estilo para impressora*/

*{
margin: 10px;
padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    line-height: 1.5em;
}

div.menu{
    display: none;
}

div.artigo::after{
    content: 'Este artigo foi impresso através do site www.cursoemvideo.com';
}

div.artigo{
    width: 100%;
}